.btn-custom {
  padding: 20px 50px;
  position: relative;
  margin: 32px;
  color: $dark;
  z-index: 5;
}

.btn-custom::after, .btn-custom::before {
  border: 3px solid $dark;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.btn-custom::after {
  transform: translate(5px, 5px);
}

.btn-custom::before {
  transform: translate(-5px, -5px);
}

.btn-custom:hover::after {
  transform: translate(-5px, -5px);
}

.btn-custom:hover::before {
  transform: translate(5px, 5px);
}